.imageAboutUs {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

body {
    --image-left: 30px;
    --bs-body-font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;

}

@media (min-width: 1024px) {
    .container-fluid {
        padding-left: 125px;
        padding-right: 125px;
    }
}

.unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-navbar ul li {
    float: left;
}


.my-navbar li a {
    display: block;
    padding: 8px;
    background-color: #fff;
    color: black;
}

li a:hover {
    display: -moz-grid-line;
    color: black;
}

.my-breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-breadcrumb li {
    float: left;
}

.my-breadcrumb li:not(:first-child)::before {
    content: ">";
    padding-left: 5px;
    padding-right: 5px;
    color: gray;
}

.my-breadcrumb li a {
    color: black;
}

.text {
    text-align: start;
    display: block;
    font-weight: 200;
    font-size: 18px;
    line-height: 35px;
    color: #686868;
}

.header-title {
    color: #fff;
    z-index: 1;
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

}

.header-title-image {
    width: 100%;
    height: 200px;
    opacity: 0.99;
    filter: blur(2.5px);

}

.header-title-image-career {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.header-bottom-title {
    color: black;
    list-style-type: none;
    font-size: 12px;

}

.search-icon {
    position: absolute;
    right: 10px;
    opacity: 0.5;
    pointer-events: none;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: 10px;
}

.logo {
    object-fit: contain;
    height: 100px;
}

.scale-anim {
    transition: all 0.3s ease;
    transform: scale(1);
}

.scale-anim:hover {
    transform: scale(0.9);
}

.scale-anim:active {
    transform: scale(0.8);
}


button {
    border: none;
    background: none;
    transition: all 0.3s ease;
    transform: scale(1);
    display: inline;
}

button:hover {
    transform: scale(0.9);
}

button:active {
    transform: scale(0.5);
}

button {
    border: none;
    background: none;
    transition: all 0.3s ease;
    transform: scale(1);
    display: inline;
}

button:hover {
    transform: scale(0.9);
}

button:active {
    transform: scale(0.5);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search-button input {
    padding-right: 40px;

}

.search-button form {
    position: absolute;
    display: flex;
    right: 0px;
    margin-right: 0px;
    margin-left: auto;
    float: right;
    gap: 5px;
}

.footer-line {
    border: 0.8px solid black;
    display: block;
    margin-top: 200px;
    position: relative;
}

.line {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.align-right {
    align-items: flex-start;
}

@media (min-width: 768px) {
    .align-right {
        align-items: flex-end;
    }
}

.footer-group {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
}

.footer-group a {
    color: black;
}

.gap-10 {
    gap: 10px;
}

.footer-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    background-color: #fff;
    border: 2px dotted gray;
    width: 300px;
    margin: 50px;
    padding: 10px;
    text-align: center;

}

.brand-image-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.brands-images {
    display: flex;
    justify-content: center;
    position: relative;
    aspect-ratio: 9/16;
    background-color: lightblue;
    overflow: hidden;
}

.brand-image {
    width: 100%;
    flex: 1;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease-out;
}

.brands-images:hover .brand-image {
    transform: translateY(-80px);
}

.centered-image-text {
    bottom: 20px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    position: absolute;
    font-weight: bold;
    z-index: 1;
}

.text li {
    margin-bottom: 15px;
}

.image-box {
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


.image-box::before {
    content: "";
    border: 2px solid #AB1731;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: var(--image-left);
    top: 30px;
    z-index: -1;
}

.career-button {
    display: block;
    color: gray;
    border: 2px solid gray;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

.career-button:hover {
    background-color: #304269;
    opacity: 0.9;
    color: #fff;

}

.contact-span {
    margin-left: 3Z0px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}